page-profile {

  .title {
    color: #888;
    font-size: 1.15em;
  }

  .message {
    color: white;
    font-size: 1.25em;
  }

  
  /*ion-card-content > ion-icon {
    float: left;
    font-size: 2em;
    padding: 38px 10px 62px 0;
  }*/
}
